## Activity 2.01

In [1]:
import pandas as pd

### Dealing with Messy Data

In [2]:
data = pd.read_csv("YearPredictionMSD.csv", nrows=50000)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,90
0,2001,49.94357,21.47114,73.07750,8.74861,-17.40628,-13.09905,-25.01202,-12.23257,7.83089,...,13.01620,-54.40548,58.99367,15.37344,1.11144,-23.08793,68.40795,-1.82223,-27.46348,2.26327
1,2001,48.73215,18.42930,70.32679,12.94636,-10.32437,-24.83777,8.76630,-0.92019,18.76548,...,5.66812,-19.68073,33.04964,42.87836,-9.90378,-32.22788,70.49388,12.04941,58.43453,26.92061
2,2001,50.95714,31.85602,55.81851,13.41693,-6.57898,-18.54940,-3.27872,-2.35035,16.07017,...,3.03800,26.05866,-50.92779,10.93792,-0.07568,43.20130,-115.00698,-0.05859,39.67068,-0.66345
3,2001,48.24750,-1.89837,36.29772,2.58776,0.97170,-26.21683,5.05097,-10.34124,3.55005,...,34.57337,-171.70734,-16.96705,-46.67617,-12.51516,82.58061,-72.08993,9.90558,199.62971,18.85382
4,2001,50.97020,42.20998,67.09964,8.46791,-15.85279,-16.81409,-12.48207,-9.37636,12.63699,...,9.92661,-55.95724,64.92712,-17.72522,-1.49237,-7.50035,51.76631,7.88713,55.66926,28.74903

In [3]:
cols = data.columns

num_cols = data._get_numeric_data().columns

list(set(cols) - set(num_cols))

[]

In [4]:
data.isnull().sum().sum()

0

In [5]:
outliers = {}
for i in range(data.shape[1]):
    min_t = data[data.columns[i]].mean() - (3 * data[data.columns[i]].std())
    max_t = data[data.columns[i]].mean() + (3 * data[data.columns[i]].std())
    count = 0
    for j in data[data.columns[i]]:
        if j < min_t or j > max_t:
            count += 1
    percentage = count/data.shape[0]
    outliers[data.columns[i]] = "%.3f" % percentage

print(outliers)

{'0': '0.019', '1': '0.010', '2': '0.011', '3': '0.011', '4': '0.015', '5': '0.008', '6': '0.010', '7': '0.010', '8': '0.010', '9': '0.011', '10': '0.005', '11': '0.010', '12': '0.010', '13': '0.015', '14': '0.017', '15': '0.016', '16': '0.016', '17': '0.014', '18': '0.016', '19': '0.013', '20': '0.016', '21': '0.015', '22': '0.013', '23': '0.015', '24': '0.013', '25': '0.018', '26': '0.017', '27': '0.017', '28': '0.018', '29': '0.017', '30': '0.016', '31': '0.015', '32': '0.017', '33': '0.016', '34': '0.015', '35': '0.016', '36': '0.017', '37': '0.017', '38': '0.016', '39': '0.015', '40': '0.017', '41': '0.017', '42': '0.015', '43': '0.014', '44': '0.016', '45': '0.015', '46': '0.017', '47': '0.017', '48': '0.017', '49': '0.015', '50': '0.016', '51': '0.015', '52': '0.015', '53': '0.015', '54': '0.016', '55': '0.018', '56': '0.017', '57': '0.016', '58': '0.013', '59': '0.016', '60': '0.016', '61': '0.015', '62': '0.016', '63': '0.017', '64': '0.017', '65': '0.016', '66': '0.018', '67': '0.015', '68': '0.018', '69': '0.016', '70': '0.017', '71': '0.016', '72': '0.018', '73': '0.015', '74': '0.016', '75': '0.015', '76': '0.017', '77': '0.018', '78': '0.015', '79': '0.014', '80': '0.015', '81': '0.018', '82': '0.017', '83': '0.015', '84': '0.016', '85': '0.015', '86': '0.016', '87': '0.015', '88': '0.015', '89': '0.017', '90': '0.018'}

### Data Rescaling

In [6]:
X = data.iloc[:,1:]
Y = data.iloc[:,0]

In [7]:
X = (X - X.mean())/X.std()
X.head()

,1,2,3,4,5,6,7,8,9,10,...,81,82,83,84,85,86,87,88,89,90
0,1.082657,0.382437,1.841985,0.459652,-0.480074,-0.282606,-1.590785,-1.300854,0.378336,-0.683719,...,-0.086005,0.099339,0.148291,-0.255625,0.040944,-0.362616,0.524542,-0.467668,-0.247579,0.036872
1,0.880874,0.321953,1.763666,0.717085,-0.165507,-1.188896,0.777905,0.122576,1.420531,0.401198,...,-0.316635,0.301448,-0.063611,0.031855,-0.655124,-0.443921,0.536517,0.573191,0.209887,1.155171
2,1.251484,0.588929,1.350579,0.745944,0.000857,-0.703401,-0.066747,-0.057380,1.163637,-0.090081,...,-0.399185,0.567666,-0.749508,-0.301984,-0.034072,0.227059,-0.528413,-0.335333,0.109957,-0.095865
3,0.800148,-0.082240,0.794774,0.081829,0.336246,-1.295366,0.517369,-1.062869,-0.029679,-1.282306,...,0.590596,-0.583396,-0.472129,-0.904164,-0.820141,0.577357,-0.282033,0.412329,0.961849,0.789313
4,1.253660,0.794806,1.671781,0.442438,-0.411071,-0.569426,-0.712128,-0.941459,0.836414,-0.160630,...,-0.182976,0.090307,0.196753,-0.601570,-0.123595,-0.223957,0.429005,0.260874,0.195160,1.238096

### Splitting the Dataset

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_shuffle = X.sample(frac=1, random_state=0)
Y_shuffle = Y.sample(frac=1, random_state=0)

In [10]:
x_new, x_test, y_new, y_test = train_test_split(X_shuffle, Y_shuffle, test_size=0.2, random_state=0)
dev_per = x_test.shape[0]/x_new.shape[0]
x_train, x_dev, y_train, y_dev = train_test_split(x_new, y_new, test_size=dev_per, random_state=0)

In [11]:
print(x_train.shape, y_train.shape)
print(x_dev.shape, y_dev.shape)
print(x_test.shape, y_test.shape)

(30000, 90) (30000,)
(10000, 90) (10000,)
(10000, 90) (10000,)

## Activity 2.02

In [12]:
import torch
import torch.nn as nn

In [13]:
torch.manual_seed(0)

In [14]:
x_train = torch.tensor(x_train.values).float()
y_train = torch.tensor(y_train.values).float()

x_dev = torch.tensor(x_dev.values).float()
y_dev = torch.tensor(y_dev.values).float()

x_test = torch.tensor(x_test.values).float()
y_test = torch.tensor(y_test.values).float()

In [15]:
model = nn.Sequential(nn.Linear(x_train.shape[1],10),
                      nn.ReLU(),
                      
                      nn.Linear(10,7),
                      nn.ReLU(),
                      
                      nn.Linear(7,5),
                      nn.ReLU(),
                     
                      nn.Linear(5,1))

In [16]:
loss_function = torch.nn.MSELoss()

In [17]:
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)

In [18]:
for i in range(3000):
    y_pred = model(x_train).squeeze()
    loss = loss_function(y_pred, y_train)
    
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()
    
    if i%250 == 0:
        print(i, loss.item())

0 3994019.0
250 201386.453125
500 14112.63671875
750 1335.8272705078125
1000 395.6895446777344
1250 194.95443725585938
1500 133.73471069335938
1750 110.14823913574219
2000 99.99466705322266
2250 95.12146759033203
2500 92.46707153320312
2750 90.93629455566406

In [19]:
pred = model(x_test[0])
print("Ground truth:", y_test[0].item(), "Prediction:", pred.item())

Ground truth: 1995.0 Prediction: 1998.0279541015625